@media all and (max-width:1000px){
    header .logo{
        font-size: 20px;
    }
    
    header .menu a{
        padding: 10px 15px;
        margin-right: 2px;
    }

    .top-wrapper h1{
        font-size: 35px;
    }
    .top-wrapper h2{
        font-size: 25px;
    }
    .show-card h2{
        font-size: 25px;
    }
    .show-card p{
        font-size: 15px;
    }
    .show-card .Schedule{
        font-size: 20px;
    }

    .activity{
        width: 40%;
        margin: 10px;
    }
}


@media all and (max-width: 670px){
    header .logo{
        font-size: 18px;
    }
    
    .menu-icon{
        display:inline-block !important;
      }
    header .menu a{
        display: none;
    }

    .top-wrapper h1{
        text-align: left;
        line-height: 50px;
        font-size: 23px;
        letter-spacing: 3px;
    }

    .top-wrapper h2{
        text-align: left;
        font-size: 15px;
    }

    .top-wrapper p{
        text-align: left;
        font-size: 14px;
    }

    .btn{
        width: 100%;
        display: block;
        margin-top: 80px;
    }

    .show-card h2{
        font-size: 25px;
    }
    .show-card p{
        font-size: 15px;
    }
    .show-card .Schedule{
        font-size: 20px;
    }

    .show-card{
        flex-direction: column;
        flex:none;
    }

    .show-card img{
        width: 95%;
        box-shadow: 3px 2px 2px rgba(56, 57, 64 ,0.7);
        margin: 15px auto;
    }

    .show-content img.left{
        float: none;
    }
    
    .show-content img.right{
        float: none;
    }
    .show-desc{
        width: 100%;
    }
    .activities{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        flex: none;
    }
    .activity{
        width: 80%;
        margin: 20px auto;
    }
    .activity-desc p{
        font-size: 20px;
    }

    input, textarea{
        width: 100%;
    }

    .booking-btn{
        width: 100%;
    }

    .about-content{
        flex-direction: column;
        flex: none;
    }

    .about-header::after{
        width: 36%;
    }
    
    .about-header::before{
        width: 36%;
    }

    .about-desc{
        flex: none;
        width: 100%;
    }

    .about-socmed .fa{
        float: none;
    }

    .socmed{
        padding-top: none;
        margin: 10px auto;
    }

    footer .logo{
        /* text-align: center; */
        height:min-content;
        margin: 0 auto;
        line-height: normal;
        font-size: 30px;
    }

    footer .footer-list{
        margin: 10px auto;
        text-align: justify;
    }

    .footer-list a{
        letter-spacing: 5px;
        font-size: 20px;
    }

    footer .footer-contents{
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 300px){
    header .logo{
        font-size: 14px;
    }

    .menu-icon{
        padding: 25px 2px 2px 2px;
    }

    footer .logo{
        font-size: 20px;
    }
}